<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<script src="js/angular.min.js"></script>
<link href="css/style.css" rel="stylesheet">
</head>
<body>
<div ng-app>
	<h1>Directives</h1>

	<fieldset>
		<legend>ng-app</legend>
		<div class="parent">
			<div class="two" ng-non-bindable>
				<textarea rows="4" cols="55" disabled>
<div ng-app>
  {{9+5}}
</div>
				</textarea>
			</div>
			<div class="two">
				{{9+5}}
			</div>
		</div>
		<div class="parent">
			<div class="two" ng-non-bindable>
				<textarea rows="4" cols="55" disabled>
<div ng-app="myApp">
  {{9+5}}
</div>
				</textarea>
			</div>
			<div class="two">
				{{9+5}}
			</div>
		</div>
	</fieldset>
	<br />

	<fieldset>
		<legend>ng-init</legend>
		<div class="parent">
			<div class="two" ng-non-bindable>
				<textarea rows="4" cols="55" disabled>
<div ng-app ng-init="a=9;b=5">
  {{a*b}}
</div>
				</textarea>
			</div>
			<div class="two" ng-init="a=9;b=5">{{a*b}}</div>
		</div>
		<div class="parent">
			<div class="two" ng-non-bindable>
				<textarea rows="4" cols="55" disabled>
<div ng-app ng-init="t=[2,4,5,11,27,65]">
  {{t.length}}
</div>
				</textarea>
			</div>
			<div class="two" ng-init="t=[2,4,5,11,27,65]">{{t.length}}</div>
		</div>
		<div class="parent">
			<div class="two" ng-non-bindable>
				<textarea rows="4" cols="55" disabled>
<div ng-app ng-init="o={fname:'toto', lname:'TITI'}">
  <b>{{o.fname}}</b>{{o.lname}}
</div>
				</textarea>
			</div>
			<div class="two">
				<div ng-init="o={fname:'toto', lname:'TITI'}"><b>{{o.fname}}</b>{{o.lname}}</div>
			</div>
		</div>
	</fieldset>
	<br />
	
	<fieldset>
		<legend>ng-model</legend>
		<div class="parent">
			<div class="two" ng-non-bindable>
				<textarea rows="5" cols="55" disabled>
<div ng-app>
  <input type="text" ng-model="text">
  <h3>{{text}}</h3>
</div>
				</textarea>
			</div>
			<div class="two" >
				<input type="text" ng-model="text">
				<h3>{{text}}</h3>
			</div>
		</div>
		<div class="parent">
			<div class="two" ng-non-bindable>
				<textarea rows="9" cols="55" disabled>
<div ng-app>
<select ng-model="lang">
  <option value="JAVA">JAVA</option> 
  <option value="JS">JS</option> 
  <option value="C++">C++</option> 
</select>
<h3>{{lang}}</h3>
</div>
				</textarea>
			</div>
			<div class="two" >
				<select ng-model="lang">
					<option value="JAVA">JAVA</option> 
					<option value="JS">JS</option> 
					<option value="C++">C++</option> 
				</select>
				<h3>{{lang}}</h3>
			</div>
		</div>
	</fieldset>
	<br />

	<fieldset>
		<legend>ng-bind</legend>
		<div class="two" ng-non-bindable>
			<textarea rows="4" cols="55" disabled>
<div ng-app ng-init="msg='un commentaire'">
  <span ng-bind="msg"></span>
</div>
			</textarea>
		</div>
		<div class="two" >
			<div ng-init="msg='un commentaire'"><span ng-bind="msg"></span></div>
		</div>
	</fieldset>
</div>


</body>
</html>