<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<script src="js/angular.min.js"></script>
<link href="css/style.css" rel="stylesheet">
</head>
<body>
	<div ng-app>
		<h1>Directives (2)</h1>
		<fieldset>
			<legend>ng-href</legend>
			<div class="two" ng-non-bindable>
				<textarea rows="5" cols="60" disabled>
<input type="url" ng-model="link">
<a href="{{link}}" target="_blank">
  <img src="img/link.png">
</a>
				</textarea>
			</div>
			<div class="two">
				<input type="url" ng-model="link">
				<a href="{{link}}" target="_blank"><img src="img/link.png"></a>
			</div>
		</fieldset>
		<br/>
		
		<fieldset>
			<legend>ng-src</legend>
			<div class="two" ng-non-bindable>
				<textarea rows="8" cols="60" disabled >
<select ng-model="logo" ng-init="logo='img/default.png'">
  <option value="img/java.png">JAVA</option>
  <option value="img/css.png">CSS</option>
  <option value="img/html.png">HTML</option>
  <option value="img/angular.png">AngularJS</option>
</select>
<img ng-src="logo" alt="{{logo}}">
				</textarea>
			</div>
			<div class="two">
				<select ng-model="logo" ng-init="logo='img/default.png'">
					<option value="img/java.png">JAVA</option>
					<option value="img/css.png">CSS</option>
					<option value="img/html.png">HTML</option>
					<option value="img/angular.png">AngularJS</option>
				</select>
				<img ng-src="{{logo}}" alt="{{logo}}" width="50">
			</div>
		</fieldset>
		<br/>
		
		<fieldset>
			<legend>ng-if | ng-show | ng-hide</legend>
			<div class="two" ng-non-bindable>
				<textarea rows="6" cols="60" disabled>
<label><input type="checkbox" ng-model="fr">French</label>
<label><input type="checkbox" ng-model="en">English</label>
<h1 ng-if="en">Hello Word</h1>
<h1 ng-show="fr">Bonjour</h1>
<h1 ng-hide="fr||en">Empty</h1>
				</textarea>
			</div>
			<div class="two">
				<label><input type="checkbox" ng-model="fr">French</label>
				<label><input type="checkbox" ng-model="en">English</label>
				<h1 ng-if="en">Hello Word</h1>
				<h1 ng-show="fr">Bonjour</h1>
				<h1 ng-hide="fr||en">Empty</h1>
			</div>
		</fieldset>
		<br/>
		
		<fieldset>
			<legend>ng-repeat</legend>
			<div class="two" ng-non-bindable>
				<textarea rows="4" cols="60" disabled>
<ol ng-init="list=['JAVA','HTML','CSS','Angular']">
  <li ng-repeat="item in list">{{item}}</li>
</ol>
			</textarea>
			</div>
			<div class="two">
					<ol ng-init="list=['JAVA','HTML','CSS','Angular']">
						<li ng-repeat="item in list">{{item}}</li>
					</ol>
			</div>
		</fieldset>
		<br/>
		
		<fieldset>
			<legend>ng-switch | ng-switch-when | ng-switch-default</legend>
			<div class="two" ng-non-bindable>
				<textarea rows="9" cols="60" disabled>
<input type="number" ng-model="techno">
<span ng-switch="techno">
  <img src="img/java.png" ng-switch-when="1">
  <img src="img/html.png" ng-switch-when="2">
  <img src="img/css.png" ng-switch-when="3">
  <img src="img/angular.png" ng-switch-when="4">
  <img src="img/default.png" ng-switch-default>
</span>
				</textarea>
			</div>
			<div class="two">
				<input type="number" ng-model="techno">
				<span ng-switch="techno">
					<img src="img/java.png" ng-switch-when="1" width="50">
					<img src="img/html.png" ng-switch-when="2" width="50">
					<img src="img/css.png" ng-switch-when="3" width="50">
					<img src="img/angular.png" ng-switch-when="4" width="50">
					<img src="img/default.png" ng-switch-default width="50">
				</span>
			</div>	
		</fieldset>
		<br/>	

		<fieldset>
			<legend>ng-switch | ng-switch-when | ng-switch-default</legend>
			<div class="two" ng-non-bindable>
				<textarea rows="4" cols="60" disabled>
<ol ng-init="list=['JAVA','HTML','CSS','Angular']">
  <li ng-repeat="item in list">{{item}}</li>
</ol>
				</textarea>
			</div>
			<div class="two">
				<input type="text" ng-model="model" ng-list>
				<ol>
					<li ng-repeat="m in model" ng-bind="m"></li>
				</ol>
			</div>
		</fieldset>
		<br/>				
		
	</div>
</body>
</html>