<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<script src="js/angular.min.js"></script>
	<link href="css/style.css" rel="stylesheet">
</head>
<body>
	<div ng-app>
		<h1>Events</h1>
		
		<fieldset>
			<legend>ng-change</legend>
			<div class="two" ng-non-bindable>
				<textarea rows="6" cols="50" disabled>
<div ng-app>
  <input type="text" ng-change="change=change+1">
  <h3>change : {{change}}</h3>
</div>
				</textarea>
			</div>
			<div class="two">
				<input type="text" ng-change="change=change+1" ng-model="model">
				<h3>change : {{change}}</h3>
			</div>
		</fieldset>
		<br/>
	
		<fieldset>
			<legend>ng-click | ng-dblclick</legend>
			<div class="two" ng-non-bindable>
				<textarea rows="6" cols="50" disabled>
<div ng-app>
  <input type="button" value="ngClick" readonly
    ng-click="clickCount=clickCount+1">
  <h3>{{clickCount}}</h3>
</div>
				</textarea>
			</div>
			<div class="two">
				<input type="text" value="Click me" readonly ng-click="click=click+1" ng-dblclick="dbClick=dbClick+1">
				<h3>click : {{click}}</h3>
				<h3>dbClick : {{dbClick}}</h3>
			</div>
		</fieldset>
		<br/>
		
		<fieldset>
			<legend>ng-focus | ng-blur</legend>
			<div class="two" ng-non-bindable>
				<textarea rows="8" cols="50" disabled>
<div ng-app>
  <input type="text"
    style="background-color:{{color}}"
	ng-blur="color=red"
	ng-focus="color=green">
  <h3>color : {{color}}</h3>
</div>
				</textarea>
			</div>
			<div class="two">
				<input type="text" style="background-color:{{color}}"
					ng-blur="color='red'" ng-focus="color='green'">
				<h3>color : {{color}}</h3>
			</div>
		</fieldset>
		<br/>
				
		<fieldset>
			<legend>ng-keyup | ng-keydown | ng-keypress</legend>
			<div class="two" ng-non-bindable>
				<textarea rows="7" cols="50" disabled>
<div ng-app>
  <input type="text"
	ng-keydown="event='keydown'"
	ng-keyup="event='keyup'">
  <h3>event : {{event}}</h3>
</div>
				</textarea>
			</div>
			<div class="two">
				<input type="text" ng-keydown="event='keydown'" ng-keyup="event='keyup'" >
				<h3>event : {{event}}</h3>
			</div>
		</fieldset>
		<br/>
						
		<fieldset>
			<legend>ng-cut | ng-copy | ng-paste</legend>
			<div class="two" ng-non-bindable>
				<textarea rows="8" cols="50" disabled>
<div ng-app>
  <input type="text"
	ng-cut="action='cut'"
	ng-copy="action='copy'"
	ng-paste="action='paste'">
  <h3>action : {{action}}</h3>
</div>
				</textarea>
			</div>
			<div class="two">
				<input type="text" ng-cut="action='cut'" ng-copy="action='copy'" ng-paste="action='paste'">
				<h3>action : {{action}}</h3>
			</div>
		</fieldset>
		<br/>	
		
	</div>
</body>
</html>