<!DOCTYPE html>
<html>
<script src="js/angular.min.js"></script>
<body>

<style>
.close {margin-right:20px;}
.close::before{content:'[x]';}
</style>

<div ng-app="APP" ng-controller="control1">
 	<p>Name: <input type="text" ng-model="name"></p>
	<ul>
		<li ng-repeat="item in list | orderBy:'':true  | filter:name">{{item}}</li>
	</ul>	
 	<p>Age: <input type="text" ng-model="age"></p>
	
	<ul>
		<li ng-repeat="item in numbers | orderBy:'':false | filter:age track by $index">{{item}}</li>
	</ul>
	
	<label><input type="checkbox" ng-model="open" checked> Opened</label>
	
	<details ng-open="open">
	<summary >Liste des condidats ({{items.length}})</summary>	
		<ul>
			<li ng-repeat="item in items"><a href="" ng-click="remove($index)"><span class="close"></span></a>{{item.Name}}</li>
		</ul>
	</details>

	
</div>

<script language="javascript">

var app = angular.module('APP', []);

app.controller('control1', function($scope, $http){
	$scope.name = 'mi';
	$scope.list = ['Alami','Alaoui','Filahi','Marzoug', 'Fahmi'];
	$scope.numbers = [33,55,99,546,87,324,14,0,0];
	$scope.open=true
	$http.get('http://www.w3schools.com/angular/customers.php').success(function(res){
		console.log(res);
		$scope.items=res.records;
	}).error(function(e, s){
		console.log('Error', e, s);
	});
	
	$scope.remove = function(e){
		$scope.items.splice(e, 1);
	}
	
});

</script>

</body>
</html>